<div>
  <h1 id="title">Todos Acessórios</h1>
  <ul>
    <li><app-products-mini></app-products-mini></li>
    <li><app-products-mini></app-products-mini></li>
    <li><app-products-mini></app-products-mini></li>
    <li><app-products-mini></app-products-mini></li>
    <li><app-products-mini></app-products-mini></li>
    <li><app-products-mini></app-products-mini></li>
    <li><app-products-mini></app-products-mini></li>
    <li><app-products-mini></app-products-mini></li>
    <li><app-products-mini></app-products-mini></li>
    <li><app-products-mini></app-products-mini></li>
    <li><app-products-mini></app-products-mini></li>
    <li><app-products-mini></app-products-mini></li>
    <li><app-products-mini></app-products-mini></li>
  </ul>
</div>