<ul class="app-header">
    <li class="header-side">
        <img id="header-logo" src="../../assets/images/logo/Logo.svg" alt="Logo" srcset="">
    </li>
    <li class="header-side">
        <ul>
            <li>
                <a class="header-links" href="">Bolsas</a>
            </li>
            <li>
                <a class="header-links" href="">Acessórios</a>
            </li>
            <li>
                <a class="header-links" href="">Contatos</a>
            </li>
            <li>
                <a href=""><img class="header-icons" src="../../assets/images/icons/shopping_cart_FILL0_wght400_GRAD0_opsz24 1.svg" alt="Carrinho"></a>
            </li>
            <li>
                <a href=""><img class="header-icons" src="../../assets/images/icons/account_box_FILL0_wght400_GRAD0_opsz24 1.svg" alt="Usuário"></a>
            </li>
        </ul>        
    </li>
</ul>