<ul id="app-footer">
    <li><img src="../../assets/images/logo/Logo.svg" id="logo" alt="logo"></li>
    <li>
        <ul>
            <li class="title">Contato</li>
            <li> <br></li>
            <li><a href="">71 9899-9999</a></li>
            <li><a href="">contatoacozy.com</a></li>
            <li><br></li>
            <li>Rua Logo Ali, 13 - Barra</li>
            <li>Salvador - BA</li>

        </ul>
    </li>
    <li>
        <ul>
            <li class="title">Informações</li>
            <li><br></li>
            <li><a href="">Bolsas</a></li>
            <li><a href="">Acessórios</a></li>
            <li><a href="">Termos e Condições</a></li>
        </ul>
    </li>
</ul>
