<div>
  <div id="prod-page-title">
    <p id="price">R$ 299,99</p>
    <p id="name">Nome do Produto</p>
  </div>
  <div id="prod-page-body">
    <div class="prod-images">
      <img src="../../../assets/images/prod-page/img-g-prod-page.jpg" alt="img-g-prod">
      <div class="mini-img">
        <img src="../../../assets/images/prod-page/img-p-prod-paje.jpg" alt="img-p-prod">
        <img src="../../../assets/images/prod-page/img-p-prod-paje.jpg" alt="img-p-prod">
      </div>
    </div>
    <div class="prod-desc">
      <p id="prod-desc">Quando iniciamos a COZY queríamos apenas<br> um produto que adoraríamos utilizar. Somos<br> apaixonados por bolsas e moda</p>
      <button button-buy id="btn">COMPRAR AGORA</button>
    </div>
  </div>
</div>