.title {
  font-weight: bold;
  font-size: 48px;
}
div {
  background-color: rgba(237, 237, 237, 1);
}
p {
  font-size: 24px;
}
.sides {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 40px;
}
.intro-txt p {
  padding-bottom: 50px;
}
