<div class="sides">
  <div>
    <p>Totalmente Customizáveis</p>
    <p class="title">você escolhe as <br> suas cores e <br>acessorios.</p>
    <p>Quando iniciamos a COZY queríamos apenas <br>
      um produto que adoraríamos utilizar. Somos <br>
      apaixonados por bolsas e moda.</p>
    <p>Quando iniciamos a COZY queríamos apenas <br>
      um produto que adoraríamos utilizar. Somos <br>
      apaixonados por bolsas e moda.</p>
    <div>
      <a href="">VEJA MAIS</a>
    </div>
  </div>
  <div class="diff-img"><img src="../../../assets/images/diff-camp/img-diff.jpg" alt="img-differential"></div>
</div>