<div class="accessories-camp">
  <a href="" class="title">nossos acessórios</a>
  <div id="accessories-groups">
    <app-accessories-item></app-accessories-item>
    <app-accessories-item></app-accessories-item>
    <app-accessories-item></app-accessories-item>
    <app-accessories-item></app-accessories-item>
  </div>
  <div id="accessories-groups">
    <app-accessories-item></app-accessories-item>
    <app-accessories-item></app-accessories-item>
    <app-accessories-item></app-accessories-item>
    <app-accessories-item></app-accessories-item>
  </div>
</div>